In [52]:
"""Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable."""
## 1st question
a = "python"
l =[145,"abc",24.5]
c =45.36
b =(12,"a","java")
print(a,l,c,b)

python [145, 'abc', 24.5] 45.36 (12, 'a', 'java')

In [53]:
"""Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable."""
## 2nd question
var1 ="" ## string
var2 ='[DS,ML,Python]' ## string
var3 =['DS','ML','Pthon'] ## List
var4 =1. ## float

In [54]:
"""Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **"""

## 3rd question
a=20
b=10
print(a/b)
print(a%b)
print(a//b)
print(a**3)

2.0
0
2
8000

In [57]:
""""Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type"""
a=["python",124,45.2,"c",1+2j,56.0,True,"java",False,36.2]
for i in a:
    print(i,type(i))

python <class 'str'>
124 <class 'int'>
45.2 <class 'float'>
c <class 'str'>
(1+2j) <class 'complex'>
56.0 <class 'float'>
True <class 'bool'>
java <class 'str'>
False <class 'bool'>
36.2 <class 'float'>

In [56]:
"""Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible."""
a=20
b=4
n=0
while a%b==0:
    a=a/b
    n=n+1
if n>0:
    print(n)

1

In [59]:
"""Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not."""
a=[1,2,5,4,5,7,15,42,98,7,23,10,15,24,61,56,45,78,12,36,40,25,22,13,10]
for i in a:
    if (i%3==0):
        print(i, f"{i} is divisible by 3"  )
    else:
        print(i,f"{i} is not divisible by 3")

1 1 is not divisible by 3
2 2 is not divisible by 3
5 5 is not divisible by 3
4 4 is not divisible by 3
5 5 is not divisible by 3
7 7 is not divisible by 3
15 15 is divisible by 3
42 42 is divisible by 3
98 98 is not divisible by 3
7 7 is not divisible by 3
23 23 is not divisible by 3
10 10 is not divisible by 3
15 15 is divisible by 3
24 24 is divisible by 3
61 61 is not divisible by 3
56 56 is not divisible by 3
45 45 is divisible by 3
78 78 is divisible by 3
12 12 is divisible by 3
36 36 is divisible by 3
40 40 is not divisible by 3
25 25 is not divisible by 3
22 22 is not divisible by 3
13 13 is not divisible by 3
10 10 is not divisible by 3
12 12 is divisible by 3
93 93 is divisible by 3

In [51]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property."""
#mutable#
"""we are able to change index value of the data is called as mutable"""

s=[12,45.3,"python"]
print(s)
s[1]
s[1]="loki"
print(s)
#immutable#
"""we are not able to change  index value of data"""
v="hello"

[12, 45.3, 'python']
[12, 'loki', 'python']

12