In [17]:
#Q1. How do you comment code in Python? What are the different types of comments?
"""comments are 2 types
 1.By using #
 2.By using triple quotes
 """
  #  ex: # Data science masters 
     #   """ pwskills """
    
print("  ")

In [19]:
#Q2. What are variables in Python? How do you declare and assign values to variables?
#variable: it stores the value
a=10
print(a)

10

In [23]:
#Q3. How do you convert one data type to another in Python?
#By using type casting
a=10
type(a)
b=float(a)
type(b)

float

In [24]:
#Q4. How do you write and execute a Python script from the command line?
# Save it and then press shift enter
a="pwskills"
print(a)

pwskills

In [28]:
#Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].
my_list=[1,2,3,4,5]
my_list[1:3]

[2, 3]

In [32]:
#Q6. What is a complex number in mathematics, and how is it represented in Python?
"""Complex numbers is combination of real numbers and imaginary numbers"""
# ex: 1+2j
a=1+2j
type(a)

complex

In [37]:
#Q7. What is the correct way to declare a variable named age and assign the value 25 to it?
# age=25
 # variable_name=variable_valu
age=25
print(age)

25

In [39]:
#Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?
price=9.99
type(price)

float

In [43]:
#Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?
name=  "Goutham"
print(name)

Goutham

In [51]:
#Q10. Given the string "Hello, World!", extract the substring "World".
a="hello world!"
a[6:11]

'world'

In [57]:
#Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.
is_student=True
is_student

True