1Q.What is a database? Differentiate between SQL and NoSQL databases.
Database is a collection of structured data, information
database is used for storing, manipulating, accessing the data from the database
SQL- Structured Query Language is relational database
     have structured schema
    -my SQL
    -ms SQL
    -db2
    -oracle
NoSQL-not only structured Query Language is non relational database
      have unstructured schema
    -monogoDB
    -cassandra
    -Hbase
    -influx

2Q.What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
DDL-DATA DEFINITION Language
Commands: CREATE,ALTER,DROP,TRUNCATE
CREATE: is used to create object in the database
Ex: CREATE table employee
{emp_id int,
name char(20)
age int
city char(10)
ph_no varchar(20)};

DROP: is used to remove entire database object from the database
Ex: DROP table employee:

ALTER: it allows to alter or modify the structure of database and add additional columns, drops existing columns, even change datatype of columns
Ex: Alter table employee Add
     (address varchar(20));

TRUNCATE: is used to delete all the rows from the table permanently
Ex: TRUNCATE table employee;

3Q.What is DML? Explain INSERT, UPDATE, and DELETE with an example.
DML:DATA MANIPULATION LANGUAGE
Commands: SELECT,INSERT,UPDATE,DELETE

SELECT: is used to retrieve data from the database 
In this we use clauses: WHERE,GROUP BY,HAVING,ORDER BY,AS
Ex: SELECT * from employee;

INSERT: is used to insert the data into table to add one or more reocrds into a single table
Ex: INSERT into employee(e_id int, ename varchar(20) city varchar(10));
    Values(101,"a",'hyd')

UPDATE: is used to modify record present in existing table
Ex: UPDATE employee set salary=50000
    where ename='a'

DELETE: is used to delete some or all records from the existing table
Ex: DELETE from employee where e_id='101'

4Q.What is DQL? Explain SELECT with an example.
DQL: DATA QUERY LANGUAGE
Commands: SELECT 
SELECT: is used to specifies the columns to want to retrieve
Ex: SELECT columns1, columns2
    from table_name
    where conditions;

5Q.Explain Primary Key and Foreign Key.
PRIMARY KEY: 
CREATE TABLE Employees(
    Emp_id INT primary key,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Salary DECIMAL(10,2)

)
FOREIGN KEY:
CREATE TABLE Employees(
    DepartmentId INT primary key,
    DepartmentNAme varchar(50)
);
CREATE TABLE Employees(
    Emp_id INT priamry key,
    FirstName varchar(50),
    LastName varchar(50),
    Salary DECIMAL(10,2),
    DepartmentID INT,
    foreign key (DepartmentId) REFERENCES (DepartmentId)
);

6Q.Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    if connection.is_connected():
        print("Connected to MySQL database")

CURSOR:is used to create a cursor object. A cursor is like a pointer or an iterator that is used to interact with the database.
The cursor allows you to execute SQL queries and fetch results.
EXECUTE:is used to execute a SQL query that you provide as an argument.
After calling execute(), you can use other methods like fetchone(), fetchall(), etc., on the cursor to retrieve the results of the query.
It's important to note that the changes made by the query (e.g., insert, update, delete) won't be reflected in the database until you commit the changes. You can do this using connection.commit().

7Q.Give the order of execution of SQL clauses in an SQL query.
The SQL Clause sequence is:
FROM: Specifies the table or tables from which the data will be retrieved.

JOIN: Combines records from two or more tables based on a related column between them.

WHERE: Filters the rows based on a specified condition or criteria.

GROUP BY: Groups the result set based on one or more columns.

HAVING: Filters the grouped rows based on a specified condition.

SELECT: Specifies the columns to be retrieved from the result set.

DISTINCT: Removes duplicate rows from the result set.

ORDER BY: Sorts the result set based on one or more columns.

LIMIT/OFFSET: Specifies the number of rows to retrieve and the starting point of the result set.